/* 
---------------
MAIN COMPONENT STYLING
---------------
*/

#home{
    min-height: 90vh;
}

#footer{
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding-top: 20px;
    font-family: 'Lato';
    background-color: #171F22
}

#sidebar{
    padding-top: 50px;
    width: 12.5%;
}

/* 
------------------
SCROLL STYLING
------------------
*/

/* width */
::-webkit-scrollbar {
    width: 5px;
    opacity: 0.2;
  }
  
/* Track */
::-webkit-scrollbar-track {
    background: #17171700;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff1f; 
    opacity: 0.2;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #006d75; 
    opacity: 0.2;
}
/* 
------------------
** NAV STYLING ***
------------------
*/

.nav-row{
    width: 100%;
}

.nav-col-left{
    display: flex;
    justify-content: center;
}

.nav-col-right{
    display: flex;
    justify-content: flex-end;
}

.nav-link{
    margin-right: 10px;
    margin-left: 10px;
}

#navBar{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
}

@media screen and (max-width: 768px) {
    #logo {
      height: 0px;
    }
    #sidebar{
        width: 100%;
    }
}

@media screen and (max-width: 576px){
    #sidebar{
        padding-top: 100px;
    }
    #feed-container{
        margin-top: 150px !important;
    }
}

#logo{
    height: 15px;
    margin-bottom: 0;
}

/* 
------------------
** FEED STYLING ***
------------------
*/

#feed-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#feed-header-img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

#feed-header-container {
    position: relative;
    height: 200px;
    margin-bottom: 50px;
}

#feed-header-text h1{
    color: white;
    font-family: 'Lato';
    font-size: 2em;
}

#feed-header-text h4{
    color: white;
    margin-bottom: 20px;
}

#feed-header-button{
    margin-right: 20px;
}

.feed-header-top-posts{
    border: 2px solid #171f22;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#breadcrumb-container{
    margin-right: 20px;
}

#feed-container{
    margin-top: 100px;
}

/* 
------------------
** PROMPT STYLING ***
------------------
*/

#prompt{
    margin-bottom: 3%;
    margin-top: 3%;
}

.ant-card-meta-title{
    margin: 0 !important;
}

#card-title{
    margin-right: 20px;
}

/* 
------------------
** PROMPT STYLING ***
------------------
*/

#title-container{
    display: flex !important;
    align-items: center !important;
}

#card-content{
    color: rgba(0, 0, 0, 0.55)
}

#cardActionBtn{
    background: none;
    border: none;
    width: 100%;
    height: 40px;
    outline: none;
}

#cardActionBtn:hover{
    cursor: pointer
}

#likes{
    margin-left: 5px;
}

.ant-card-actions li{
    margin: 0;
}

/* 
------------------
**  STORY MODAL STYLING ***
------------------
*/

#number-of-submissions{
    margin-left: 20px;
}

.ant-collapse-header{
    width: 180px;
    background-color: #171f22!important;
    border-radius: 4px !important; 
}

.ant-collapse-content .ant-collapse-content-box{
    padding: 0;
}

.submit-chapter-input{
    margin-top: 20px !important;
}

#submit-chapter-button{
    margin-top: 20px;
    margin-right: 20px;
}

.modal-buttons button{
    padding: 0;
    margin-right: 30px;
}

/* 
------------------
**  HELP CAROUSEL STYLING ***
------------------
*/

.ant-carousel {
    text-align: center;
    overflow: hidden;
}

/* 
------------------
**  THEME OVERRIDERS ***
------------------
*/

#comments{
    background-color: #111717;
    padding: 24px;
}

.ant-card-actions{
    background: rgba(0,0,0,0.3);
}

.modal-body{
    background-color: #111717;
    border-top: 1px solid rgb(16, 17, 19);
    padding: 24px;
}

.ant-modal-body{
    padding: 0 !important;
}

.ant-list-split, .ant-list-header{
    border-bottom: none !important;
}

.ant-menu-item-selected{
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.ant-menu-item-selected > a, .ant-menu-submenu-selected{
    color: white !important;
}

#card-content{
    color: white;
}

.ant-collapse-header{
    background-color: #006d75;
    border: none;
    color: white !important;
}

.ant-radio-button-wrapper-checked{
    color: white !important;
}

.ant-collapse-content-box{
    padding: 0 !important;
}

.ant-skeleton-title, .ant-skeleton-paragraph > li{
    background: #111717 !important;
    color:#111717 !important;
}

.ant-select-dropdown-menu-item{
    background-color: none !important;
}

.ant-select-dropdown-menu-item-active{
    background: #111717 !important;
}

.ant-select-dropdown-menu-item-selected{
    background-color: #006d75 !important;
}

.ant-collapse-item-active, .ant-collapse-item{
    border-bottom: none !important;
    background-color: #111717;
}

.ant-menu-submenu-arrow::after,.ant-menu-submenu-arrow::before {
    background-image: none !important
}

.ant-btn-link{
    color: rgba(255, 255, 255, 0.4);
}

.ant-menu-item, .ant-menu-submenu-title{
    font-weight: bold;
}