input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #18292b inset !important;
    color: red !important;
    border-color: #006d75;
}

h1, h2, h3, h4{
    font-family: 'Poppins';
}

/* 
---------------
MAIN COMPONENT STYLING
---------------
*/

#home{
    min-height: 100vh;
}

#footer{
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding-top: 20px;
    font-family: 'Lato';
    background: none;
}

@media screen and (max-width: 1199px) {
    #sidebar{
        padding-top: 50px;
        width: 20.83%;
    }
}

@media screen and (min-width: 1200px) {
    #sidebar{
        padding-top: 50px;
        width: 12.5%;
    }
}

/* #sidebar{
    padding-top: 50px;
    width: 12.5%;
} */

/* 
------------------
SCROLL STYLING
------------------
*/

/* width */
::-webkit-scrollbar {
    width: 0px;
    opacity: 0.2;
  }
  
/* Track */
::-webkit-scrollbar-track {
    background: #17171700;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff1f; 
    opacity: 0.2;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #006d75; 
    opacity: 0.2;
}
/* 
------------------
** NAV STYLING ***
------------------
*/

.nav-row{
    width: 100%;
}

.nav-col-left{
    display: flex;
    justify-content: center;
    background-color: #101618;
}

.nav-col-right{
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 768px) {
    .nav-col-right{
        display: flex;
        justify-content: center;
    }
}

.nav-link{
    margin-right: 10px;
    margin-left: 10px;
}

.notification:hover{
    color: #006d75 !important;
    background-color: rgba(255, 255, 255, 0.01) !important;
    transform: scale(1.025);
}

.notification{
    transition: 0.4s;
    background-color: #101618;
    color: rgba(255, 255, 255, 0.8) !important
}

#notification-badge{
    color: white;
    transition: 0.3s;
}

#notification-badge:hover{
    color: #006d75;
    cursor: pointer;
}

#navBar{
    display: flex;
    position: fixed;
    border: none;
    height: 60px;
    line-height: 60px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
}

#navBar button{
    box-shadow: 10px 20px 20px rgb(0,0,0,0.2);
}

@media screen and (max-width: 768px) {
    #logo {
      height: 0px;
    }
    #sidebar{
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    #sidebar{
        padding-top: 100px;
    }
    #feed-container{
        margin-top: 200px !important;
    }
}

#logo{
    height: 15px;
    margin-bottom: 0;
}

.login-form-modal{
    background-color: #1a1a1a;
}

.login-form{
    background-color: #1a1a1a;
    padding: 24px !important;
}

.login-form h3{
    font-weight: bold;
    margin-bottom: 28px;
    padding-top: 28px;
}

/* 
------------------
** FEED STYLING ***
------------------
*/

#feed-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 48px;
}

#feed-header-img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

#feed-header-container {
    position: relative;
    margin-bottom: 25px;
    min-height: 300px;
}

#feed-header-text{
    margin-top: 48px;
}

#feed-header-text h1{
    color: rgba(255, 255, 255, 0.85);
    font-weight: bold;
    font-size: 1.8em;
    margin-right: 14px !important;
}

#feed-header-button{
    margin-right: 20px;
}

.feed-header-top-posts{
    border: 2px solid #171f22;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#breadcrumb-container{
    margin-right: 20px;
}

#feed-container{
    margin-top: 50px;
}

/* 
------------------
** PROMPT STYLING ***
------------------
*/

.post-modal{
    width: 50% !important;
}

.post-modal-form{
    background-color: #1A1A1A !important;
    padding: 0 !important;
}

.post-modal-form h2{
    padding-left: 24px;
    padding-top: 24px;
    margin: 0;
}

#prompt{
    margin-bottom: 3%;
    margin-top: 3%;
}

.ant-card-meta-title{
    margin: 0 !important;
}

#card-title{
    margin-right: 20px;
}

.heart-filled{
    color: #ff7a45;
    font-weight: bold;
}

.heart{
    color: rgba(255, 255, 255, 0.7);
}

.heart:hover{
    color: #ff7a45;
}

/* 
------------------
** PROMPT STYLING ***
------------------
*/

#title-container{
    display: flex !important;
    align-items: center !important;
}

#card-content{
    color: rgba(0, 0, 0, 0.55)
}

#cardActionBtn{
    background: none;
    border: none;
    font-size: 15px;
    width: 100%;
    height: 50px;
    outline: none;
}

#cardActionBtn:hover{
    cursor: pointer
}

#likes{
    margin-left: 5px;
}

.ant-card-actions li{
    margin: 0;
}

/* 
** SIGN UP MODAL STYLING 
*/

.sign-up-modal{
    width: 60% !important
}

.left-side-signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    padding: 48px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.left-side-signup h1{
    font-weight: bold;
    opacity: 0.9;
    margin-bottom: 48px;
}

.sign-up-submit{
    margin-top: 24px;
    font-weight: bold;
}

.join-bg img{
    height: 80vh;
    width: 100%;
    object-fit: cover;
}

/* 
------------------
**  STORY MODAL STYLING ***
------------------
*/

.story-modal{
    width: 65% !important;
}

#number-of-submissions{
    margin-left: 20px;
}

.ant-collapse-header{
    width: 180px;
    background-color: #171f22!important;
    border-radius: 4px !important; 
}

.ant-collapse-content .ant-collapse-content-box{
    padding: 0;
}

.submit-chapter-input{
    margin-top: 20px !important;
}

#submit-chapter-button{
    margin-top: 20px;
    margin-right: 20px;
}

.modal-buttons button{
    padding: 0;
    margin-right: 21px;
}

/* 
------------------
**  HELP CAROUSEL STYLING ***
------------------
*/

.help-carousel{
    padding: 48px;
    background: #111717;
}

.help-carousel p{
    font-size: 1.1em;
}

.ant-carousel {
    text-align: center;
    overflow: hidden;
}

/* 
------------------
**  THEME OVERRIDERS ***
------------------
*/

#comments{
    background-color: #0E1314;
    padding-right: 24px;
    padding-bottom: 24px;
}

.comment-text-hover:hover{
    cursor: pointer;
    color: white;
}

.comment-hover{
    transition: 0.4s;
}

.comment-hover:hover{
    transform: scale(1.003);
}

.ant-card-actions{
    background: rgba(0,0,0,0.3);
}

.modal-body{
    background-color: #111717;
    border-top: 1px solid rgb(16, 17, 19);
    padding: 24px;
}

.ant-modal-body{
    padding: 0 !important;
}

@media screen and (max-width: 992px) {
    .ant-modal{
        width: 90% !important;
    }
}

.ant-list-split, .ant-list-header{
    border-bottom: none !important;
}

.ant-menu-item-selected{
    background-color: #0e1314 !important;
}

.ant-menu-item-selected > a, .ant-menu-submenu-selected{
    color: #006d75 !important;
}

#card-content{
    color: white;
}

.ant-collapse-header{
    background-color: #006d75;
    border: none;
    color: white !important;
}

.ant-radio-button-wrapper-checked{
    color: white !important;
}

.ant-collapse-content-box{
    padding: 0 !important;
}

.ant-skeleton-title, .ant-skeleton-paragraph > li{
    background: #111717 !important;
    color:#111717 !important;
}

.ant-select-dropdown-menu-item{
    background-color: none !important;
}

.ant-select-dropdown-menu-item-active{
    background: #111717 !important;
}

.ant-select-dropdown-menu-item-selected{
    background-color: #006d75 !important;
}

.ant-collapse-item-active, .ant-collapse-item{
    border-bottom: none !important;
    background-color: #111717;
}

.ant-menu-submenu-arrow::after,.ant-menu-submenu-arrow::before {
    background-image: none !important
}

.ant-menu{
    background-color: #101618;
    border: none;
}

.ant-btn-link{
    color: rgba(255, 255, 255, 0.4);
}

.ant-menu-item, .ant-menu-submenu-title{
    font-weight: bold;
    color: rgb(255, 255, 255, 0.7) !important;
    background-color: #101618;
    margin: 0 !important;
}

.ant-menu-item:active{
    background-color: rgb(0,0,0,0.5);
}

.ant-menu-submenu-horizontal{
    width: 33%;
}

.ant-card-hoverable{
    transition: 0.4s;
    border: none !important;
}

.ant-card-hoverable:hover{
    transform: scale(1.025);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    border: none !important;
}

.ant-menu-item{
    transition: 0.4s;
    height: 50px !important;
}

.ant-menu-item a{
    display: flex;
    align-items: center;
    height: 50px;
}

.ant-menu-item:hover{
    transform: scale(1.05);;
}

.ant-form-item input{
    height: 50px !important;
}

.ant-btn-primary{
    font-weight: bold;
}

.ant-menu-item::after{
    border-right: 5px solid #006d75 !important;
}

.ant-back-top-content{
    background: #006d75;
    box-shadow: 10px 10px 20px rgba(0,0,0, 0.2);
}

@media screen and (max-width: 1199px) {
    .ant-steps{
        width: 100% !important;
        
    }
    .ant-steps-item-title{
        font-size: 10px !important;
    }
    .ant-steps-item-description{
        font-size: 8px !important;
    }
}

@media screen and (min-width: 1200px) {
    .ant-steps{
        max-width: 60% !important;
    }
    .steps-few{
        width: 30% !important;
    }
    .ant-steps-item-title{
        font-size: 14px !important;
    }
    .ant-steps-item-description{
        font-size: 10px !important;
    }
}

.ant-steps{
    padding: 0px 28px 0px 0px !important;
    padding-top: 24px !important;
}

.ant-steps-item::after{
    border: 1px solid #00000075 !important;
    border-left: none !important;
    border-bottom: none !important;
}

.ant-badge-count{
    background: #ff7a45 !important;
    font-weight: bold !important;
}

.ant-modal-content{
    box-shadow: none !important;
}

.ant-modal-header{
    background-color: #111717 !important;
    padding: 24px !important;
    border: none !important;
}

.ant-modal-title{
    font-weight: bold !important;
    font-size: 1.5em !important;
    margin-top: 24px !important;
}

.ant-steps-item-title::after{
    background: #006d755e !important;
}

.ant-dropdown-menu-item:hover{
    background-color: rgb(0, 0, 0, 0.3);
}
